Django==1.11.3
numpy==1.13.1
PyYAML==3.12
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
pybtex==0.21
requests==2.18.1
static==1.1.1
wsgiref==0.1.2
oauth2==1.9.0.post1
pymongo==3.4.0
pylibmc==1.5.1
django-pylibmc-sasl==0.2.4
monty==1.0.1
spglib==1.9.9.44
pymatgen==2017.7.21
requests_oauthlib==0.6.1
scipy==0.19.1
pip==9.0.1
setuptools==36.0.1
matplotlib==2.0.2
palettable==3.0.0