Django>=1.11.29
numpy==1.9.2
PyYAML>=4.2b1
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
pybtex==0.21
requests>=2.20.0
static==1.1.1
wsgiref==0.1.2
oauth2==1.9.0.post1
pymongo==3.4.0
pylibmc==1.5.1
django-pylibmc-sasl==0.2.4
monty==0.9.8
spglib==1.9.8.20
pymatgen==3.5.3
requests_oauthlib==0.6.1
scipy==0.15.1
pip==9.0.1
setuptools==35.0.1
matplotlib==2.0.2
palettable==3.0.0
