Django==1.11.1
numpy==1.9.2
PyYAML==3.12
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
pybtex==0.21
requests==2.14.2
static==1.1.1
wsgiref==0.1.2
oauth2==1.9.0.post1
pymongo==3.4.0
pylibmc==1.5.1
django-pylibmc-sasl==0.2.4
monty==0.9.8
pymatgen==4.7.6
spglib==1.9.9.18
requests_oauthlib==0.6.1
scipy==0.15.1
matplotlib==2.0.2
palettable==3.0.0
